In [40]:
import pandas as pd

## Dataset
Dataset available from [kaggle](https://www.kaggle.com/carrie1/ecommerce-data)
* download the zipped file and copy unzipped file to data folder and rename file to 'ecommerce.csv'
* detect the ecoding using `file -I`. You may need to change the encoding to read the file but `ISO-8859-1` should work

In [41]:
df = pd.read_csv('./data/ecommerce.csv', encoding="ISO-8859-1", engine='python')

In [42]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [43]:
list(df.columns)

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country']

In [44]:
#drop non descriptive fields
df = df.drop(['InvoiceNo', 'StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'], axis=1)
df.head()

                           Description
0   WHITE HANGING HEART T-LIGHT HOLDER
1                  WHITE METAL LANTERN
2       CREAM CUPID HEARTS COAT HANGER
3  KNITTED UNION FLAG HOT WATER BOTTLE
4       RED WOOLLY HOTTIE WHITE HEART.

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 1 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Description  540455 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [46]:
df.describe()

                               Description
count                               540455
unique                                4223
top     WHITE HANGING HEART T-LIGHT HOLDER
freq                                  2369

In [47]:
df.dtypes

Description    object
dtype: object

## Preprocess

* drop unnecessary columns
* convert to lower case
* remove stop words
* lemmetize 
* remove non-unicode charaters
* drop duplicates

In [48]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from unidecode import unidecode
import string

In [49]:
STOP_WORDS = stopwords.words('english') + list(string.punctuation)
lemmetizr = WordNetLemmatizer()

def pre_process(text:str):
    text = text.lower()
    text = unidecode(text)
    text = word_tokenize(text)
    text = [word for word in text if word not in STOP_WORDS]
    for index, word in enumerate(text):
        text[index] = lemmetizr.lemmatize(word)
        
    return " ".join(text)

In [50]:
# test preprocessing
print(pre_process("I am a Ã±ino. I am a runner and I love and my shoes and trails"))

nino runner love shoe trail

In [51]:
# Description is read as an object, read it as type string before applying preprocessing
df['Description'] = df['Description'].astype('str').apply(pre_process)

In [52]:
df.head()

                           Description
0   white hanging heart t-light holder
1                  white metal lantern
2        cream cupid heart coat hanger
3  knitted union flag hot water bottle
4        red woolly hottie white heart

In [53]:
df.describe()

                               Description
count                               541909
unique                                4134
top     white hanging heart t-light holder
freq                                  2369

In [55]:
df['Description'].value_counts()

white hanging heart t-light holder    2369
regency cakestand 3 tier              2200
jumbo bag red retrospot               2159
party bunting                         1727
lunch bag red retrospot               1638
                                      ...
20713 wrongly marked                     1
wrongly marked 23343                     1
pink large jeweled photoframe            1
pink beads+hand phone charm              1
mummy mouse red gingham ribbon           1
Name: Description, Length: 4134, dtype: int64

In [56]:
# Drop duplicates
df.drop_duplicates(subset=['Description'], inplace=True)

In [59]:
df.describe()

                         Description
count                           4134
unique                          4134
top     snack tray red vintage doily
freq                               1

In [73]:
df['Description'].value_counts()

snack tray red vintage doily        1
cute cat tape                       1
s/3 pink square planter rose        1
glass jar peacock bath salt         1
set 10 card christmas tree 16955    1
                                   ..
kitty pencil eraser                 1
treasure island book box            1
childrens apron apple design        1
easter craft 4 chick                1
                                    1
Name: Description, Length: 4134, dtype: int64

## Feature extraction

Both TF-IDF and CountVectorizer will be used to generate word embeddings. 

TfidfVectorizer = CountVectorizer + TfidfTransform (row wise euclidian normalization)

In [100]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()

tfidf_description = tfidf_vectorizer.fit_transform((df['Description']))

In [75]:
tfidf_description

<4134x2032 sparse matrix of type '<class 'numpy.float64'>'
	with 16827 stored elements in Compressed Sparse Row format>

In [76]:
tfidf_vectorizer.get_feature_names()

['00',
 '10',
 '11',
 '12',
 '120cm',
 '125g',
 '15',
 '15c',
 '15cm',
 '16',
 '16954',
 '16955',
 '16956',
 '16957',
 '16960',
 '16961',
 '16963',
 '16965',
 '16x16cm',
 '17058',
 '17059',
 '17065',
 '17067',
 '17068',
 '17070',
 '17071',
 '17074',
 '17076',
 '17077',
 '17080',
 '17081',
 '17084',
 '17086',
 '17087',
 '17089',
 '17090',
 '17093',
 '17095',
 '17096',
 '17097',
 '17099',
 '17100',
 '17104',
 '17107',
 '17112',
 '17116',
 '17211',
 '17214',
 '17216',
 '17217',
 '17218',
 '17219',
 '17220',
 '17259',
 '17262',
 '1800',
 '18pc',
 '20',
 '200',
 '2010',
 '20713',
 '20light',
 '21',
 '22467',
 '22719',
 '22804',
 '23',
 '23343',
 '24',
 '250g',
 '25w',
 '25x24x12cm',
 '30',
 '30cm',
 '30cmx30cm',
 '34x20cm',
 '35',
 '36',
 '3d',
 '40',
 '40cm',
 '40x40cm',
 '42',
 '45cm',
 '45x30cm',
 '45x45cm',
 '47',
 '50',
 '500g',
 '50cm',
 '5g',
 '60',
 '60cm',
 '60x40cm',
 '65cmx65cm',
 '6pc',
 '70',
 '72',
 '75',
 '78',
 '84930',
 '85123a',
 '8m',
 'a4',
 'a5',
 'a6',
 'a7',
 'abc',
 'abstract',
 'acapulco',
 'account',
 'acrylic',
 'add',
 'address',
 'ade',
 'adjust',
 'adjustment',
 'adult',
 'advent',
 'afghan',
 'aged',
 'ahoy',
 'aid',
 'air',
 'airline',
 'airmail',
 'alan',
 'alarm',
 'album',
 'all',
 'allium',
 'allocate',
 'alphabet',
 'alpine',
 'aluminium',
 'amazon',
 'amber',
 'amelie',
 'amethyst',
 'anemone',
 'angel',
 'animal',
 'ant',
 'antique',
 'antoienett',
 'antoinette',
 'aperitif',
 'apothecary',
 'apple',
 'apron',
 'aqua',
 'area',
 'army',
 'arouzer',
 'art',
 'articulated',
 'artificial',
 'artiifcial',
 'as',
 'ashtray',
 'aside',
 'asos',
 'assorted',
 'asst',
 'asstd',
 'away',
 'azure',
 'babushka',
 'baby',
 'back',
 'backpack',
 'bad',
 'badge',
 'bag',
 'bain',
 'bake',
 'bakelike',
 'baker',
 'baking',
 'ball',
 'balloon',
 'balm',
 'bamboo',
 'band',
 'bangle',
 'bank',
 'banner',
 'banquet',
 'bar',
 'barcode',
 'barn',
 'baroque',
 'baroquecandlestick',
 'barrel',
 'barrier',
 'base',
 'baseball',
 'basil',
 'basin',
 'basket',
 'bath',
 'bathroom',
 'battery',
 'bauble',
 'bazaar',
 'bea',
 'beach',
 'bead',
 'beaded',
 'beads',
 'beak',
 'beaker',
 'bear',
 'beaten',
 'beautiful',
 'beauty',
 'bed',
 'bedroom',
 'bedside',
 'bee',
 'beetle',
 'bell',
 'belle',
 'bendy',
 'berry',
 'bertie',
 'best',
 'beurre',
 'beware',
 'bib',
 'bicycle',
 'big',
 'bili',
 'bill',
 'billboard',
 'bin',
 'bingo',
 'bird',
 'birdcage',
 'birdhouse',
 'birdie',
 'birdy',
 'birthday',
 'biscuit',
 'bitty',
 'black',
 'blackblue',
 'blackboard',
 'blackchristmas',
 'blank',
 'bling',
 'blk',
 'block',
 'blond',
 'blood',
 'blossom',
 'blue',
 'blueberry',
 'board',
 'bobble',
 'bohemian',
 'bomb',
 'bon',
 'bonbon',
 'bone',
 'bonheur',
 'bonne',
 'book',
 'bookcover',
 'boom',
 'boombox',
 'boot',
 'booze',
 'botanical',
 'botanique',
 'bottle',
 'boudicca',
 'boudoir',
 'bouquet',
 'bow',
 'bowl',
 'box',
 'boxed',
 'boy',
 'bracelet',
 'braclet',
 'branch',
 'brass',
 'bread',
 'breakage',
 'breakfast',
 'briar',
 'bridge',
 'bright',
 'brocade',
 'brocante',
 'broken',
 'bronze',
 'brooch',
 'brown',
 'brush',
 'bubble',
 'bubblegum',
 'bucket',
 'budah',
 'buddha',
 'buffalo',
 'building',
 'bulb',
 'bull',
 'bullet',
 'bum',
 'bundle',
 'bunny',
 'bunting',
 'burgundy',
 'burner',
 'burst',
 'bus',
 'busy',
 'butter',
 'butterfiles',
 'butterfl',
 'butterfly',
 'button',
 'c550456',
 'ca',
 'cab',
 'cabin',
 'cabinet',
 'cactus',
 'caddy',
 'cadet',
 'cafe',
 'cage',
 'cake',
 'cakestand',
 'calculator',
 'calendar',
 'calm',
 'camden',
 'came',
 'camembert',
 'camo',
 'camouflage',
 'campagne',
 'camper',
 'camphor',
 'camping',
 'canary',
 'cand',
 'candelabra',
 'candl',
 'candle',
 'candleholder',
 'candlepot',
 'candlestand',
 'candlestick',
 'candy',
 'candystuft',
 'cannabis',
 'cannister',
 'cant',
 'canvas',
 'cap',
 'capiz',
 'car',
 'caravan',
 'card',
 'cardholder',
 'cargo',
 'carlo',
 'carnival',
 'carousel',
 'carpet',
 'carriage',
 'carrier',
 'carrot',
 'carry',
 'carton',
 'cartoon',
 'case',
 'cash',
 'cast',
 'cat',
 'catch',
 'cd',
 'ceature',
 'celebration',
 'century',
 'ceramic',
 'chain',
 'chains',
 'chair',
 'chalet',
 'chalice',
 'chalk',
 'chalkboard',
 'chambre',
 'champagne',
 'champion',
 'chandelier',
 'chandler',
 'char',
 'charge',
 'charger',
 'charlie',
 'charlotte',
 'charm',
 'chart',
 'chasing',
 'chateau',
 'check',
 'cheerful',
 'cheese',
 'chenille',
 'cherry',
 'cherub',
 'chest',
 'chic',
 'chick',
 'chicken',
 'chicks',
 'child',
 'childhood',
 'childrens',
 'chilli',
 'chime',
 'china',
 'chinese',
 'chive',
 'choc',
 'chocolate',
 'chocolatecandle',
 'choice',
 'choir',
 'choker',
 'chopping',
 'chopstick',
 'christmas',
 'chrome',
 'chrysanthemum',
 'chunky',
 'cigar',
 'cinammon',
 'cinderella',
 'cinnamon',
 'circle',
 'circular',
 'circus',
 'citronella',
 'citrus',
 'claire',
 'clam',
 'class',
 'classic',
 'classical',
 'clay',
 'clean',
 'clear',
 'climbing',
 'clip',
 'cloche',
 'clock',
 'closed',
 'cloth',
 'clothes',
 'cluster',
 'coal',
 'coaster',
 'coat',
 'coathanger',
 'cockerel',
 'cockle',
 'cocktail',
 'coconut',
 'code',
 'coded',
 'coffee',
 'col',
 'colander',
 'collage',
 'collar',
 'colour',
 'coloured',
 'colourful',
 'colouring',
 'columbian',
 'com',
 'comb',
 'combo',
 'come',
 'commission',
 'compact',
 'computer',
 'condiment',
 'cone',
 'coney',
 'confectionery',
 'confetti',
 'confusing',
 'congratulation',
 'container',
 'cook',
 'cookie',
 'cooking',
 'copper',
 'cordial',
 'cordon',
 'corer',
 'cornice',
 'corona',
 'cosmetic',
 'cosy',
 'cote',
 'cottage',
 'cotton',
 'counted',
 'country',
 'covent',
 'cover',
 'cowboy',
 'cracked',
 'cracker',
 'crackle',
 'craft',
 'crate',
 'crawlie',
 'crawlies',
 'crayon',
 'crazy',
 'cream',
 'creature',
 'credit',
 'credited',
 'credits',
 'creditted',
 'creepy',
 'crested',
 'crochet',
 'crome',
 'croquet',
 'cross',
 'crossbones',
 'crown',
 'cruk',
 'crushed',
 'crusoe',
 'crystal',
 'ctn',
 'cube',
 'cubic',
 'cup',
 'cupboard',
 'cupcake',
 'cupid',
 'curio',
 'curious',
 'curtain',
 'cushion',
 'cut',
 'cute',
 'cutglass',
 'cutlery',
 'cutter',
 'czech',
 'dad',
 'dagamed',
 'dairy',
 'daisy',
 'damage',
 'damaged',
 'damages',
 'danish',
 'dark',
 'david',
 'day',
 'de',
 'debt',
 'dec',
 'deck',
 'deco',
 'decoration',
 'decorative',
 'decoupage',
 'decrotivevintage',
 'delight',
 'delivery',
 'delphinium',
 'deluxe',
 'demi',
 'denim',
 'design',
 'desk',
 'destroyed',
 'dia',
 'diamante',
 'diamon',
 'diamond',
 'diet',
 'difference',
 'digestive',
 'digitalis',
 'diner',
 'dinky',
 'dinner',
 'dinosaur',
 'disc',
 'disco',
 'discount',
 'dish',
 'dispenser',
 'display',
 'disposable',
 'diva',
 'doc',
 'doctor',
 'dog',
 'doggy',
 'doiley',
 'doily',
 'doll',
 'dollcraft',
 'dolly',
 'dolphin',
 'domino',
 'donkey',
 'door',
 'doorbell',
 'doorknob',
 'doormat',
 'doorsign',
 'doorstop',
 'dot',
 'dotcom',
 'dotcomgiftshop',
 'dotcomstock',
 'double',
 'doughnut',
 'dove',
 'dovecote',
 'dr',
 'dragon',
 'dragonfly',
 'draw',
 'drawer',
 'drawerknob',
 'drawing',
 'drawstring',
 'dream',
 'dress',
 'dressing',
 'drink',
 'drop',
 'droplet',
 'du',
 'duck',
 'dusty',
 'dutch',
 'ear',
 'earring',
 'earth',
 'easter',
 'eau',
 'ebay',
 'economy',
 'edge',
 'edwardian',
 'egg',
 'eight',
 'electronic',
 'elegant',
 'elephant',
 'elixir',
 'elvis',
 'embossed',
 'embroidered',
 'embroidery',
 'emergency',
 'emily',
 'empire',
 'en',
 'enamel',
 'enchanted',
 'enfants',
 'engine',
 'england',
 'english',
 'engraved',
 'entry',
 'envelope',
 'eraser',
 'error',
 'essential',
 'etc',
 'etched',
 'eucalyptus',
 'evening',
 'ever',
 'exercise',
 'expandable',
 'extremely',
 'eye',
 'fabric',
 'face',
 'faceted',
 'fair',
 'fairy',
 'family',
 'fan',
 'fancy',
 'fanny',
 'farm',
 'farmyard',
 'farthing',
 'fashion',
 'faulty',
 'fauna',
 'faux',
 'favourite',
 'fawn',
 'fba',
 'feather',
 'fee',
 'feeder',
 'feeding',
 'felt',
 'feltcraft',
 'feng',
 'fern',
 'field',
 'figure',
 'filigree',
 'filigris',
 'filler',
 'find',
 'fine',
 'finger',
 'finish',
 'fire',
 'first',
 'fishing',
 'five',
 'fix',
 'fixed',
 'flag',
 'flame',
 'flamingo',
 'flannel',
 'flask',
 'flock',
 'floor',
 'flora',
 'floral',
 'flore',
 'flowe',
 'flower',
 'flowerpot',
 'flowerpower',
 'flowers',
 'flowr',
 'flu',
 'fluffy',
 'fluted',
 'fly',
 'flying',
 'flytrap',
 'fob',
 'foil',
 'folding',
 'folk',
 'folkart',
 'fondant',
 'font',
 'food',
 'foot',
 'football',
 'footprint',
 'forest',
 'fork',
 'forked',
 'forty',
 'found',
 'four',
 'foxglove',
 'foxy',
 'fragrance',
 'frame',
 'france',
 'frangipani',
 'frappucino',
 'freestyle',
 'french',
 'fresh',
 'freshwater',
 'fridge',
 'friend',
 'friendship',
 'frieze',
 'frill',
 'fringe',
 'frog',
 'front',
 'frost',
 'frosted',
 'fruit',
 'fruitbowl',
 'frutti',
 'frying',
 'full',
 'fun',
 'funk',
 'funky',
 'funny',
 'fur',
 'fuschia',
 'game',
 'gaoler',
 'garage',
 'garden',
 'gardener',
 'gardenia',
 'garland',
 'garld',
 'gauze',
 'gazebo',
 'gebra',
 'gecko',
 'geisha',
 'gel',
 'gem',
 'gemstone',
 'gent',
 'gentleman',
 'geometric',
 'george',
 'georgian',
 'gerden',
 'ghost',
 'giant',
 'gift',
 'gin',
 'gingerbread',
 'gingham',
 'giraffe',
 'girl',
 'girly',
 'given',
 'glamorous',
 'glamour',
 'glass',
 'glaze',
 'glider',
 'glitter',
 'globe',
 'gloss',
 'glove',
 'glow',
 'glowing',
 'gnome',
 'go',
 'goblet',
 'gold',
 'goldfish',
 'goldie',
 'goose',
 'gordon',
 'grand',
 'graphic',
 'grass',
 'green',
 'greeting',
 'grey',
 'grinder',
 'grip',
 'grocery',
 'groovy',
 'grow',
 'growing',
 'guard',
 'guitar',
 'gum',
 'gumball',
 'gun',
 'gymkhana',
 'gymkhanna',
 'hair',
 'hairband',
 'hairbands',
 'hairclip',
 'hairclips',
 'hairslide',
 'hall',
 'halloween',
 'hammered',
 'hammock',
 'hamper',
 'hand',
 'handbag',
 'handle',
 'hanger',
 'hanging',
 'happy',
 'hardman',
 'hare',
 'harmonica',
 'hat',
 'hate',
 'hawaiian',
 'haynes',
 'head',
 'headphone',
 'heart',
 'heat',
 'heaven',
 'heidi',
 'height',
 'helga',
 'helicopter',
 'hello',
 'hen',
 'henrietta',
 'hens',
 'herb',
 'hexagon',
 'hi',
 'hibiscus',
 'high',
 'highlighter',
 'hilda',
 'hill',
 'hippy',
 'historic',
 'hldr',
 'hodge',
 'hohoho',
 'hold',
 'holder',
 'hole',
 'holiday',
 'holly',
 'home',
 'homemade',
 'honeycomb',
 'hood',
 'hook',
 'hoop',
 'hopper',
 'horse',
 'hostess',
 'hot',
 'hottie',
 'hour',
 'house',
 'housekeeping',
 'housework',
 'hse',
 'hunt',
 'hurricane',
 'hut',
 'hyacinth',
 'hydranga',
 'hydrangea',
 'ice',
 'icicle',
 'icon',
 'illustrated',
 'image',
 'imported',
 'incense',
 'incorr',
 'incorrect',
 'incorrectly',
 'indian',
 'inflatable',
 'ingrid',
 'instrument',
 'invc',
 'invite',
 'ipod',
 'iron',
 'ironing',
 'island',
 'ivory',
 'ivy',
 'jack',
 'jackie',
 'jade',
 'jam',
 'jampot',
 'jar',
 'jardin',
 'jardiniere',
 'jasmine',
 'jazz',
 'jean',
 'jelly',
 'jet',
 'jewel',
 'jeweled',
 ...]

In [77]:
tfidf_description.shape

(4134, 2032)

## Recommendations
We will evaluate recommender systems built using on a few different techniques and packages
### Cosine similarity based recommenders
Map the product descriptions to vector space and use cosine similarity (angle between two vectors) to find most similar products. Results closer to `1` imply similarity. We'll be using the cosine similarity module from `sklearn`

* `tf-idf` vectorizer with `cosine_similarity` 
* `count_vector` with `cosine_similarity`

### Spacy
This implementation will use a pre-trained models from spacy to compute similarity between text. 

### KNN Recommender
The KNN algorithm can be used with `tf-idf` as features to find similar neighbours

## 1) Cosine similarity based recommenders
### `TF-IDF` with `Cosine similarity`

To calculate cosine similarity, we need to calculate the dot product of a document vectory with every other document vector.

In [78]:
from sklearn.metrics.pairwise import cosine_similarity

In [121]:
# test input
index = 239
print(df.iloc[index])

Description    lady gentleman metal sign
Name: 337, dtype: object

In [122]:
tfidf_description[0:index]

<239x2032 sparse matrix of type '<class 'numpy.float64'>'
	with 977 stored elements in Compressed Sparse Row format>

In [123]:
# check similarity between two vectors
similarities = cosine_similarity(tfidf_description)

In [143]:
type(similarities)

numpy.ndarray

In [142]:
similarities

array([[1.        , 0.21775039, 0.10198416, ..., 0.        , 0.76593101,
        0.        ],
       [0.21775039, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.10198416, 0.        , 1.        , ..., 0.        , 0.29493202,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.76593101, 0.        , 0.29493202, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [139]:
# top 10 indices, skip the first match - itself
top_matches = np.argsort(similarities[index])[::-1][1:11]

In [140]:
df.iloc[index]

Description    lady gentleman metal sign
Name: 337, dtype: object

In [141]:
df.iloc[top_matches]

                  Description
1469        garden metal sign
3169         party metal sign
342        kitchen metal sign
341       bathroom metal sign
58404  mirrored wall art lady
345     'm holiday metal sign
1303       singing metal sign
343         toilet metal sign
6565        butter metal sign

In [145]:
def get_top_matches(index:int, top=10):
    '''
    Calculates the cosine similarity between an item and every other item,
    returning the top matches
    '''
    return np.argsort(similarities[index])[::-1][1:11]

In [152]:
df.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            504104, 507867, 510117, 512588, 514649, 527065, 532724, 535329,
            537621, 540421],
           dtype='int64', length=4134)

In [156]:
test_indices = np.random.randint(0, df.size, 10)

for test_index in test_indices:
    print(f'input: {df.iloc[test_index]}')
    matches = get_top_matches(test_index)
    print(f'top matches: {df.iloc[matches]}')
    print('========' * 10)

input: Description    glass bead hoop necklace amethyst
Name: 95681, dtype: object
top matches:                                 Description
38302      glass bead hoop earring amethyst
95691        glass bead hoop necklace green
224923       glass bead hoop necklace black
95692      glass bead hoop necklace montana
65402         glass bead hoop earring green
16755         glass bead hoop earring black
36150       glass bead hoop earring montana
6149       5 strand glass necklace amethyst
3031    amethyst glass/shell/pearl necklace
4112      amethyst hoop earring floral leaf
================================================================================
input: Description    le grand tray chic set
Name: 184939, dtype: object
top matches:                               Description
184776                    petit tray chic
1378                grand chocolatecandle
6127      black grand baroque photo frame
29859       hippy chic decorative parasol
345377  le jardin botanique cushion cover
193     fridge magnet le enfants assorted
97681               cream sweetheart tray
1058            pink white breakfast tray
9176            blue white breakfast tray
25898                     blue tiled tray
================================================================================
input: Description    blossom image gift wrap set
Name: 25749, dtype: object
top matches:                               Description
52566          blossom image notebook set
21809        romantic image gift wrap set
21810         curious image gift wrap set
1769         yuletide image gift wrap set
34162        blossom image scrap book set
1768            envelope 50 blossom image
4011                   spaceboy gift wrap
33848         set three vintage gift wrap
28336                    empire gift wrap
6373   necklace+bracelet set blue blossom
================================================================================
input: Description    toy tidy pink polkadot
Name: 147, dtype: object
top matches:                        Description
1568             toy tidy spaceboy
492     toy tidy dolly girl design
1360             polkadot mug pink
4388            pink polkadot wrap
1566           wall tidy retrospot
3905            pink polkadot bowl
3874             pink polkadot cup
554            pink polkadot plate
409465        sweetheart wall tidy
4306             pink owl soft toy
================================================================================
input: Description    green peony cushion cover
Name: 196652, dtype: object
top matches:                            Description
196651         red peony cushion cover
2484    green cat floral cushion cover
324811         butterfly cushion cover
75886        blue cushion cover flower
59407     pink butterfly cushion cover
17665       pink paisley cushion cover
171257       gold flower cushion cover
18218         blue flock cushion cover
257373           red peony table clock
1875      french paisley cushion cover
================================================================================
input: Description    diamante bow brooch black colour
Name: 4100, dtype: object
top matches:                              Description
4102      diamante bow brooch red colour
4101    diamante bow brooch green colour
3034        crystal diamante star brooch
34796          gold diamante star brooch
195336   lily brooch white/silver colour
4103         lily brooch amethyst colour
38245            diamante necklace black
11372           lily brooch olive colour
1464                  cake bow gift tape
357458    large black diamante hairslide
================================================================================
input: Description    pink strawberry handbag
Name: 37680, dtype: object
top matches:                             Description
52652            pink heart red handbag
90825                pink disco handbag
3219         pink/yellow flower handbag
98488              pink riviera handbag
1831    pink butterfly handbag w bobble
177817               blue disco handbag
989             pack 6 handbag gift box
35593          pink monte carlo handbag
34144              silver disco handbag
185275       flower handbag blue orange
================================================================================
input: Description    murano style glass bracelet red
Name: 24879, dtype: object
top matches:                              Description
3018   murano style glass bracelet black
18521   murano style glass bracelet gold
18528         pink murano twist bracelet
6145          blue murano twist bracelet
27421        white murano twist bracelet
1800         green murano twist bracelet
73997          pink heart glass bracelet
73996         white heart glass bracelet
49432         green heart glass bracelet
36154        pink crystal+glass bracelet
================================================================================
input: Description    king choice tea caddy
Name: 698, dtype: object
top matches:                         Description
2607                king choice mug
42603       vintage glass tea caddy
1559          glass jar king choice
1571        paperweight king choice
699         king choice biscuit tin
4827   money box king choice design
761    king choice giant tube match
1206     vintage glass coffee caddy
53421                 king gift bag
52771            tea time tea towel
================================================================================
input: Description    giant 50 's christmas cracker
Name: 250191, dtype: object
top matches:                            Description
254179        box 6 mini 50 's cracker
273724            wrap 50 's christmas
247756      box 6 mini vintage cracker
227886       jumbo bag 50 's christmas
309257  50 's christmas gift bag large
326879  gift bag large 50 's christmas
308330  50 's christmas paper gift bag
218521     biscuit tin 50 's christmas
287373      6 gift tag 50 's christmas
290667       roll wrap 50 's christmas
================================================================================